<div class="slide-1">
  <div class="slide-1__bg"></div>
</div>
<div class="slide-2">
  <div class="slide-2__bg"></div>
</div>
<div class="slide-1-content">
  <h2 class="slide-content__title">Destiny 2: The controversy</h2>
  <p class="slide-content__text">
    Does anyone still play this game?
  </p>
</div>
<div class="slide-2-content">
  <h2 class="slide-content__title">Bungie pls</h2>
  <p class="slide-content__text">
    Space magic, ftw.
  </p>
</div>
