@import 'variables';

/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
*/

html,
body {
  background-color: $backgroundColor;
  margin: 0;
}

.stage {
  position: relative;
  width: 1000px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .1);
  margin: 2rem auto 0;
  overflow: hidden;
  z-index: 0;
}

.slide-1,
.slide-2 {
  position: absolute;
  width: 160%;
  height: 100%;
  transition: all 250ms ease-in-out;
  overflow: hidden;
}

.slide-1__bg,
.slide-2__bg {
  position: absolute;
  width:120%;
  height:400px;
  overflow: hidden;
  background-size: cover;
}

.slide-1 {
  z-index: 1;

  &:hover ~ .slide-2 {
    // right: -161%;
    right: -120%;
  }
}
.slide-1__bg {
  background: url('images/lord-g-1440.jpg') left top no-repeat fixed;
}

.slide-2 {
  right:-80%;
  border-left: 10px solid rgba(0, 165, 255, .85);
  transform-origin: bottom right;
  transform: skew(-55deg, 0deg);
  z-index: 2;

  &:hover {
    // right: 0%;
    right: -40%;
  }
}
.slide-2__bg {
  background: url('images/Strike.jpg') right bottom no-repeat fixed;
  transform-origin: bottom right;
  transform: skew(55deg, 0deg);
}

.slide-1-content,
.slide-2-content {
  position: absolute;
  top:5%;
  color: #fff;
  z-index: 3;
}
.slide-content__title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}
.slide-content__text {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .35);
}

.slide-1-content {
  left:5%;
}
.slide-2-content {
  right: 5%;
}
