@import 'variables';

html,
body {
  background-color: $backgroundColor;
}

.stage {
  position: relative;
  width: 1000px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .1);
  margin: 0 auto;
  overflow: hidden;
}

.slide-1,
.slide-2 {
  position: absolute;
  width: 120%;
  height: 100%;
  overflow: hidden;
}
.slide-1__bg,
.slide-2__bg {
  $slideImagePosPercent: -25%;
  position: absolute;
  top: $slideImagePosPercent;
  left: $slideImagePosPercent;
  right: $slideImagePosPercent;
  bottom: $slideImagePosPercent;
  overflow: hidden;
}
.slide-1 {
  left:-100%;
  transform-origin: bottom left;
  transform: skew(-55deg, 0deg);
}
.slide-1__bg {
  background-image: url('images/armor-warlock-desktop.jpg');
  transform: skew(55deg, 0deg);
}
.slide-2 {
  right:-40%;
  transform-origin: bottom right;
  transform: skew(-55deg, 0deg);
}
.slide-2__bg {
  background-image: url('images/overview_hero.jpg');
  transform: skew(55deg, 0deg);
}
