@import 'variables';

html,
body {
  background-color: $backgroundColor;
  margin: 0;
}

.stage {
  position: relative;
  width: 1000px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .1);
  margin: 2rem auto 0;
  overflow: hidden;
  z-index: 0;
}

.slide-1,
.slide-2 {
  position: absolute;
  width: 120%;
  height: 100%;
  transition: all 250ms ease-in-out;
  overflow: hidden;
}

.slide-1__bg,
.slide-2__bg {
  position: absolute;
  width:100%;
  height:400px;
  // background-position: center top;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  overflow: hidden;
}

.slide-1 {
  z-index: 1;

  &:hover ~ .slide-2 {
    right: -60%;
  }
}
.slide-1__bg {
  background: url('images/armor-warlock-desktop.jpg') 130% top no-repeat fixed;
}

.slide-2 {
  right:-40%;
  border-left: 10px solid rgba(0, 165, 255, .85);
  transform-origin: bottom right;
  transform: skew(-55deg, 0deg);
  z-index: 2;

  &:hover {
    right: -20%;
  }
}
.slide-2__bg {
  background: url('images/WC_BG_1440.jpg') right bottom no-repeat fixed;
  transform: skew(55deg, 0deg);
  left:-300px;
}
